---
layout: default
---

<div class="home" style="font-size: 130%; background: #ddd; padding: 2em; border-radius: 0.5em">

    <p><img src="http://0.gravatar.com/avatar/a725f5ce0112815f1cce66d289eabe8f" alt="My Gravatar, which is my face.">

    <p>Hi, I'm Aaron.

    <p>I'm an Irish &#x1f1ee;&#x1f1ea; software developer living in Ottawa, Canada &#x1f1e8;&#x1f1e6;.

    <p>I work as a Production Engineer at <a href="https://www.shopify.com">Shopify</a> &#x1F6D2;.


    <p><strike><a href="https://twitter.com/insom">I have Twitter</a></strike>. Twitter &#x1F426; is bad.

    <p>I am the admin of a Mastodon &#x1F9A3; instance which is an off-shoot of the <a href="https://tilde.town">tilde.town intentional digital community</a> &#x1F3D8;&#xFE0F;. You could always follow me at <a href="https://tiny.tilde.website/@insom">insom@tiny.tilde.website</a>, if you'd like.

    <p>I contribute sporadically to software on <a href="https://github.com/insom">GitHub</a>, upload photos to <a href="https://flickr.com/photos/insomnike">Flickr</a> and <a href="https://www.linkedin.com/in/aaronwbrady">reject recruiter spam on LinkedIn</a>.

    <p>I've hosted a technical blog at this domain, on-and-off, since 2004. It seemed to be the thing to do, but I've recently found I don't enjoy it and it makes me feel guilty.

    <p>I think that back then blogging felt like a cool thing to do while we built out the user-created web, but honestly the world has gone a different way and 90% of what I've written has no value to anyone but me any longer. Technology and politics seem to age faster than anything else.

    <p>I've decided that I <em>do</em> like keeping a journal, where I sometimes talk about technical things. That's not the same thing, at all. I am unashamedly personal there, and primarily am writing for me.

    <p>You can find it on <a href="gemini://tilde.town/~insom/">Gemini</a><sup><a href="https://proxy.vulpes.one/gemini/tilde.town/~insom/">(proxy)</a></sup> &#x264A; and <a href="gopher://ilde.town/1/~insom">Gopher</a><sup><a href="https://proxy.vulpes.one/gopher/tilde.town/1/~insom">(proxy)</a></sup> &#x1F9AB; or read the latest post (like a <tt>"/now"</tt> page) via <a href="finger://tilde.town/insom">Finger</a> &#x1F448; or even on the <a href="https://tilde.town/~insom/">web</a> &#x1F578;&#xFE0F;.

    <p>A few things I've written on my blog that I still think are interesting:

    <ul style="padding: 2em">
        <li style="padding-bottom: 0.7em"><a href="/2016/06/15/z80.html">The build log for the tiny Z80 microcomputer I built (2016).</a>
        <li style="padding-bottom: 0.7em"><a href="/2017/04/02/private-internet.html">Running Spanning Tree Protocol over VXLANs over WireGuard to make a private Internet (2017).</a>
        <li style="padding-bottom: 0.7em"><a href="/2021/01/04/polaroid-lut.html">Using a Polaroid photo to make and apply a Colour Look-Up Table (2021).</a>
    </ul>

    <p>Thanks,

    <p>Aaron

</div>
